*{
    color: rgb(200, 200, 200);
    filter: blur(0);
}

body{
    
    background-color: rgb(22, 22, 22);
    width: 97vw;
}

#bakdrop{
top: 0;
position: absolute;
z-index: 0;
width: 100vw;
height: 100vh;
filter: blur(3px);
}
#bakdrop{
    top: 0;
    position: initial;
    width: 97.9vw;
    height: 100vh;
    filter: blur(3px);
    }



main{
    background-image: url(Content/stressed_linen_texture.png);
    position: relative;
}


#StartArticle{
    background-image: url(Content/stressed_linen_texture.png);
    display: grid;
    grid-template-columns: 2fr 3fr;
    left: 10vw;
    top: -86.5vh;
    position: relative;
    width: 72vw;
    height: 86.5vh;
    padding: 3vw;
}



h2{
    color: white;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding-bottom: 10vh;
}

#StartArticle li:nth-of-type(1){
}

#StartArticle a{
    background-color: hsl(20, 79%, 30%);
    text-align: center;
    display: block;
    padding: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 3px solid  rgba(0,0,0,0.4);
}

#StartArticle a:nth-of-type(2){
    
    border-left: 3px solid  rgba(0,0,0,0.1);
}

#smallgrid{
    display: grid;
grid-template-columns: 2fr 1fr;
}

iframe{
    border: none;
    width: 37vw;
    height:20.81vw;
    display: block;
    margin: auto;
    padding-top: 1vw;
}

#filler{
    height: 0;
}

#SocialMedia{
    border-top: rgb(255, 114, 0) 5px solid;
    background-color: rgb(22, 22, 22);
    top: -86vh;;
    width: 98.9vw;
    position: relative;
}

#SocialMedia h3 {
    font-size: 3em;
    text-align: center;
}

#SocialMedia ul{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    list-style: none;
}

#about{
    position: relative;
    top: -86.5vh;
}



@media only screen and (max-width: 1100px) {


#StartArticle{

    grid-template-columns: none;
    
}

    iframe{
        width: 72vw;
height: 40.50vw;
    }

    h2{
        padding: 0;
        margin-top: 0;
    }

    
    #StartArticle a{
        display: block;
        margin-bottom: 2vh;
        font-size: 200%;
    }
    iframe{
        
        margin-top: 2vh;
    }

    #filler{
        height: 110vh;
        top: -20vh;
        display: block;
    }

}
@media only screen and (max-width: 900px) {
    #smallgrid{
        grid-template-columns: 1fr;
        padding: 3em;
    }


    }
    

@media only screen and (max-width: 500px) {

    *{
        top: 0;
    }


    #StartArticle{
        width: 100vw;
        left: 0;
        top: 0vh;
        position: block;
        padding: 0;
    }

    #bakdrop{
        height: 50vh;
        display: none;
        }
    Article{
        width: 100vw;
        top:0;
    }
    #SocialMedia{
        top: 0;
    }
    #about{
        position: relative;
        top: 0;
    }  #smallgrid{
        font-size: 0.8em;
    }
    }
    