*{
    
    padding: 0;
    margin: 0;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgb(200, 200, 200);
}

    
    nav{
        position: sticky;
    width: 98vw;
        z-index: 10;
        top: 0;
        left: 0;
        background-image: url(Content/stressed_linen_texture.png);

    }
    
    
    nav ul{
        list-style: none;
        float: right;
        display: grid;
        grid-template-columns:  repeat(7, 1fr);
        width: calc(96vw - 307px);
        height: calc(46px + 2vw);
        top: 0;
        position: absolute;
        left: calc(307px + 2vw);
        overflow: hidden;
    }

    
    
    nav img{
        height: 46px;
        width: 307px;
        padding: 1vw;
    }
    
    nav ul a{
        background-color: gray;
        text-align: center ;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border-right: 1px solid rgba(0,0,0,0.2);
        border-left: 1px solid rgba(255,255,255,0.1) ;
        color: #c8c8c8;
        background-color: #3a3f44;
        border-radius: 1px;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        padding: 0.8em;
    }
    
    nav ul a:hover{
    background-color: rgb(52,56,61);
    border: none;
    color: rgb(255, 114, 0);
    }

    #Hamburger{
        background-color: whitesmoke;
        display: none;
        right: -2.1vw;
        top: 0;
        position: fixed;
        border-bottom-left-radius: 10px;
    }
    footer{
        
        top: 15vh;
        
        background-color: rgb(52, 52, 52);
        position: relative;
    }


    footer ul{
        width: calc(270px + 25vw);
        height: 5em;
        margin: auto;
display: grid;
grid-template-columns: repeat(7, 1fr);
list-style: none;
text-align: center;
    }

    footer li{
        margin: 0;
        border-right: 3px solid rgba(0,0,0,0.2);
    }

    footer a{
        position: relative;
        display: block;
        padding: auto;
        display: block;
        line-height: 10vh;
        height: 10vh;
    }
    footer li:first-of-type a{
        line-height: 5vh;
        border-left: 3px solid rgba(0,0,0,0.2);
    }

    
    footer a:hover{
        background-color: rgb(255, 114, 0);
        color: rgb(22, 22, 22);
    }
    

    @media only screen and (max-width: 900px) {
        nav ul{
            grid-template-columns: none;
            grid-template-rows:  repeat(7, 1fr);
            width: 100vw;
            height: 76vh;
            top: 48px;
            position: absolute;
            left: 100vw;
            transition-duration: 500ms;
            background-color: rgb(22, 22, 22);
        }


        nav img{
            display: block;
            margin: auto;
            
        }

        nav a{
            display: block;
            width: 100vw;
            margin-bottom: 0;
        }

        #Hamburger{
            width: 48px;
        height: 48px;
        display: block;
        }

        #Hamburger img{
            width: 48px;
            height: 48px;
            padding: 0;
            margin: 0;
        }


    }

    @media only screen and (max-width: 770px) {

footer li:first-of-type a{
        line-height: 3vh;
    }
    }

    @media only screen and (min-width: 900px) {

        nav ul{
            left: calc(307px + 2vw);
        }

    }