*{
    
    color: rgb(200, 200, 200);
}

body{
    
    background-image: url(Content/stressed_linen_texture.png);
}

main{
    margin: auto;
    margin-top: 3vw;
    font-size: 103%;
    display: block;
    width: 980px;
}

.ThickMain{
    width: 1470px;
}

li {
    margin-top: 1em;
}

h3{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

main ul{
    padding-left: 2em;
}
a{
    color: rgb(255, 114, 0);
}

.mediaList{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main img{
        display:block;
        margin:auto;
    
}

.shortThough{
    grid-template-columns: 1fr 1fr;
}

h1{
    font-size: 3em;
    padding-left: 1.5em;
}

iframe{
    padding: 10px;
    display: block;
    margin:auto
}
@media only screen and (max-width: 900px) {
    #smallgrid{
        grid-template-columns: 1fr;
        padding: 3em;
    }
    }

@media only screen and (max-width: 1900px) {

    .mediaList{
        grid-template-columns: 1fr 1fr;
    }
    
    }

    @media only screen and (max-width: 1300px) {

      main{
          width: 980px;
      }
        }

        @media only screen and (max-width: 900px) {

            .mediaList{
                grid-template-columns: 1fr;
            }
            main{width: auto;
            }
              }